<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/95749693e7.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div id="container">
        <h1 id="heading">To<span>Do</span></h1>
        <hr>
         <!-- ----Div1 for Display current date and day---- -->
        <div class="date-section">
            <div class="dateContainer">
                <div id="date"><span id="todayDate"></span></div>
                <div id="monthYear">
                    <span id="month"></span>
                    <span id="year"></span>
                </div>
            </div>
            
            <div id="day">
                <span id="currDay"></span>
            </div>
        </div>
        <hr>

        <!-- ----form for taking inputs---- -->
        <form action="/create" method="POST">
            <!-- ----Div1 for adding category and dueDate---- -->
            <div class="category-dueDate">
                <div id="category">
                    <h3>Category</h3>
                    <div id="category-icon">
                        <select  name="category" required>
                            <option value=""> Choose a Category: </option>
                            <option value="personal">Personal</option>
                            <option value="home">Home </option>
                            <option value="business">Business </option>
                            <option value="work">Work </option>
                        </select>
                        <i class="fas fa-clipboard-list"></i>
                    </div>
                </div>
                <div id="dueDate">
                    <h3>Due Date</h3>
                    <div id="calender-icon">
                        <input type="date" id="due-date" name="dueDate">
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    
                </div>
            </div>
    
            <!-- ----Div2 for adding Task---- -->
            <div class="taskInput">
                <h3>Enter Task</h3>
                <div class="add-task">
                    <input id="check" type="text" name="taskName" placeholder="What do you need to do?" required>
                    <button type="submit" onclick="notification('success')"> <i class="fas fa-plus-circle add-item"></i> </button>
                </div>
            </div>
        </form>
        <!-- ---- List of all diffent Task---- -->
         <div class="taskList-container">
            <ul>
                <% for(let i of ToDo_List){ %>
                    <li class="listItems" >
                        <div class="row1">
                            <div class="select">
                                <i class="fas fa-thumbtack"></i>
                            </div>
                            <div class="taskName">
                                <p> <%=i.taskName %> </p>
                            </div>
                            <div class="delete" onclick="notification('error')">
                                <a href="/delete-task/?id=<%= i._id %>&category=<%=i.category %>">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                        <div class="taskDueDate">
                            <i class="fas fa-calendar-alt"></i>
                            <p> <%= i.dueDate %> </p>
                        </div>
                    </li>
                <% }%>
            </ul>
         </div>

         <hr>
        <!-- ----showing differnt Categories---- -->
        <div class="footer">
            <div class="totalTask">
                <p>Total: <span><%= ToDo_List.length %></span>  </p>
            </div>
            <div class="categoriesSelect">
                <ul>
                    <li>
                        <a href="/category/?category=all">All</a>
                    </li>
                    <li>
                        <a href="/category/?category=personal">Personal</a>
                    </li>
                    <li>
                        <a href="/category/?category=home">Home</a>
                    </li>
                    <li>
                        <a href="/category/?category=business">Business</a>
                    </li>
                    <li>
                        <a href="/category/?category=work">Work</a>
                    </li>
                </ul>
             </div>
             <div class="clear" onclick="notification('deleteAll')">
                <a href="/deleteAllTask">
                    <i class="fas fa-sync-alt"></i>
                </a>
             </div>
        </div>
         
    </div>

    <!-- ---- show notification on adding/deleting task---- -->
    <div id="notify"></div>

    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>